extends layout

block content
  h1= title
  - var results =[{name:"Iphone", id:"1", price:200000},{name:"Laptop", id:"20", price:1500000},{name:"earbuds", id:"3", price:30000}]
  div(class="container-fluid")
  div(class="row")
   each o,index  in results
    div(class="col-sm-2") #{o.name}, #{o.id}, #{o.price}