extends layout
block content
    h1= title
    form(id='OrdersForm', action="/resource/Orders", method="POST")
        div.form-group
            label.OrdersAttr(for='name') Orders name
            input#name(type='text', name='name')
        div.form-group
            label.OrdersAttr(for='id') Orders id
            input#id(type='number', name='id')
        div.form-group
            label.OrdersAttr(for='price') Orders price
            input#price(type='number', name='price')
        input(type="submit")
    script.
        document.forms['OrdersForm'].addEventListener('submit', (event) => {
            event.preventDefault();
            // TODO do something here to show user that form is being submitted
            fetch(event.target.action, {
                method: 'POST',
                body: new URLSearchParams(new FormData(event.target)) // event.target is the form
            }).then((resp) => {
                return resp.json(); // or resp.text() or whatever the server sends
            }).then((body) => {
                alert("Save succeded")
                // TODO handle body
            }).catch((error) => {
                // TODO handle error
                alert("Save failed " + error )
            });
        });